@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

main {
  display: grid;
  gap: 3.5rem;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

p {
  font-size: 1.125rem;
  color: hsl(201, 11%, 66%);
  line-height: 1.8rem;
}

.btn {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 0.75rem 1.25rem;
  border-radius: 1.5rem;
}
.btn-ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 3px 3px hsla(171, 66%, 44%, 0.2);
  transition: background-color 0.2s ease-in-out;
}
.btn-ios:hover {
  background-color: hsla(171, 66%, 44%, 0.8);
}
.btn-mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 3px 3px hsla(233, 100%, 69%, 0.2);
  transition: background-color 0.2s ease-in-out;
}
.btn-mac:hover {
  background-color: hsla(233, 100%, 69%, 0.8);
}

.header {
  background: url(../images/bg-header-mobile.png) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 2rem 2.5rem;
  text-align: center;
  display: grid;
  gap: 1.125rem;
  margin-block-end: 3.5rem;
}
.header__logo {
  margin-block-end: 1.95rem;
  margin-inline: auto;
}
.header__title {
  font-size: 1.95rem;
}
.header__description {
  margin-block-end: 0.95rem;
}
.header__btn {
  display: grid;
  gap: 1.125rem;
}

.functionnalities {
  margin-block-start: 2.5rem;
  display: grid;
  gap: 3rem;
  text-align: center;
}
.functionnalities__explanation {
  padding: 1.125rem 1.75rem;
}
.functionnalities__title {
  margin-block-end: 1.25rem;
  font-size: 1.75rem;
}
.functionnalities__description {
  margin-block-end: 1.125rem;
}
.functionnalities__actions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.125rem 1.75rem;
}
.functionnalities__img {
  width: 100%;
  margin-block-end: 1.125rem;
}
.functionnalities__action {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.functionnalities__action-title {
  margin-block-end: 1.25rem;
}

.accessibility {
  display: grid;
  gap: 3rem;
  text-align: center;
  padding: 1.125rem 1.75rem;
  margin-block-start: 0.95rem;
}
.accessibility__title {
  margin-block-end: 1.125rem;
}
.accessibility__img {
  width: 100%;
}

.workflow {
  padding: 1.125rem 1.75rem;
  display: grid;
  gap: 3rem;
  text-align: center;
  margin-block-end: 2.95rem;
}
.workflow__title {
  color: hsl(210, 10%, 33%);
  font-size: 1.75rem;
  margin-block-end: 1.125rem;
}
.workflow__actions {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.workflow__descriptions {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.workflow__action-title {
  margin-block: 2rem 1.25rem;
}
.workflow__partenaires {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.plateforme {
  padding: 1.125rem 1.75rem;
  display: grid;
  gap: 1.75rem;
  text-align: center;
  margin-block-end: 5rem;
}
.plateforme__title {
  font-size: 1.75rem;
}
.plateforme__description {
  margin-block-end: 1.25rem;
}
.plateforme__btn {
  display: grid;
  gap: 1.125rem;
}

.footer {
  background-color: hsl(0, 0%, 98%);
  margin-block-start: 2rem;
  padding: 3rem 1.95rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
}
.footer__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.footer__logo {
  width: 90px;
  margin-block-end: 0.95rem;
}
.footer__action {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.footer__action a {
  text-decoration: none;
  color: hsl(201, 11%, 66%);
  display: inline-block;
  margin-block-end: 1rem;
  transition: color 0.2s ease-in-out;
}
.footer__action a:hover {
  color: hsl(171, 66%, 44%);
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 1.95rem;
}
.footer img {
  transition: filter 0.2s ease-in-out;
}
.footer img:hover {
  filter: invert(60%) sepia(77%) saturate(367%) hue-rotate(122deg) brightness(85%) contrast(100%);
}

@media screen and (min-width: 768px) {
  .header {
    background: url(../images/bg-header-desktop.png) fixed;
    background-repeat: no-repeat;
  }
  .header__btn {
    grid-template-columns: repeat(2, 200px);
    margin-inline: auto;
  }
  .accessibility__description {
    max-width: 65ch;
    margin-inline: auto;
  }
  .accessibility__img {
    width: 75%;
  }
  .plateforme__description {
    max-width: 65ch;
    margin-inline: auto;
  }
  .plateforme__btn {
    grid-template-columns: repeat(2, 200px);
    margin-inline: auto;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.75rem 2.75rem 1rem;
  }
  .footer__data {
    flex-direction: row;
  }
  .footer__action {
    flex-direction: row;
    text-align: left;
    gap: 1.75rem;
    margin-inline-start: 1.75rem;
  }
}
@media screen and (min-width: 992px) {
  .functionnalities__actions {
    flex-direction: row;
    padding-inline: 0px 1.75rem;
    gap: 0;
  }
  .functionnalities__description {
    margin-inline: auto;
    max-width: 65ch;
  }
  .functionnalities__img {
    translate: -100px;
  }
  .functionnalities__action {
    margin-block-start: 2rem;
    text-align: left;
  }
  .functionnalities__action-title {
    margin-block-end: 0.95rem;
  }
  .workflow {
    padding-inline: 2rem;
  }
  .workflow__description {
    margin-block-end: 1.95rem;
  }
  .workflow__actions {
    gap: 6rem;
  }
  .workflow__descriptions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .workflow__partenaires {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
