$strong-cyan: hsl(171, 66%, 44%);
$strong-cyan-alpha: hsla(171, 66%, 44%, 0.2);
$strong-cyan-hover: hsla(171, 66%, 44%, 0.8);
$light-blue: hsl(233, 100%, 69%);
$light-blue-alpha: hsla(233, 100%, 69%, 0.2);
$light-blue-hover: hsla(233, 100%, 69%, 0.8);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 98%);

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

main {
  display: grid;
  gap: 3.5rem;
}

h1,
h2,
h3 {
  color: $dark-grayish-blue;
  font-weight: 600;
}

p {
  font-size: 1.125rem;
  color: $grayish-blue;
  line-height: 1.8rem;
}

.btn {
  text-decoration: none;
  color: $white;
  padding: 0.75rem 1.25rem;
  border-radius: 1.5rem;

  &-ios {
    background-color: $strong-cyan;
    box-shadow: 0px 3px 3px $strong-cyan-alpha;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $strong-cyan-hover;
    }
  }

  &-mac {
    background-color: $light-blue;
    box-shadow: 0px 3px 3px $light-blue-alpha;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $light-blue-hover;
    }
  }
}
